<div class="container">
    <div class="wrapper">
    <div class="row">
       <div *ngFor="let property of properties" class="col-md-4">
          <div class="card p-3 mb-2">
             <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                   <div class="icon"> <i class="bi bi-house"></i> </div>
                   <div class="ms-2 c-details">
                      <h6 class="mb-0">{{property.name}}</h6>
                   </div>
                </div>
             </div>
             <div class="mt-5">
                <h3 class="heading"><br></h3>
                <div class="mt-5">
                   <div class="property-details">
                      <h6>Rate €{{property.ratePerNight}} per night | {{property.address}}</h6>
                   </div>
                   <div class="mt-3"> <span class="text1" style="padding-right: 25px;">Sleeps {{property.sleeps}}</span> <button type="button" class="btn btn-lg btn-custom btn-block" (click)="openPopup()"> Book Property</button>
                   <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayStyle}">
                     <div class="modal-dialog" role="document">
                       <div class="modal-content">
                         <div class="modal-header">
                           <h5 class="modal-title">Book now</h5>
                         </div>
                         <div class="modal-body">
                           <div class="container">
                              <div class="row">
                                 <div class="col-sm">
                                    <h6>State Date</h6>
                                    <input type="date" id="birthday" name="startDate">
                              </div>
                              <div class="col-sm">
                                 <h6>End Date</h6>
                                 <input type="date" id="birthday" name="endDate">
                              </div>
                           </div>
                           </div>
                         </div>
                         <div class="modal-footer">
                           <button type="button" type="button" class="btn btn-custom btn-block btn-modal" (click)="closePopup()">Close</button>
                           <button type="button" class="btn btn-custom btn-block btn-modal">Book Property</button>
                         </div>
                       </div>
                     </div>
                   </div>
                  </div>  
                  </div>        
             </div>
          </div>
       </div>
    </div>
</div>