<div class="container formGroup">
	<div class="wrapper">
		<form [formGroup]="form" class="form-signin">
      <h3 class="form-signin-heading">Create Property</h3>
			<hr class="colorgraph"><br>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Property Name" name="name" formControlName="name" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Address"  name="address" formControlName="address" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Sleeps" name="sleeps" formControlName="sleeps" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control"  placeholder="Rate Per Night" name="ratePerNight" formControlName="ratePerNight" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control shortDesc"  placeholder="Short description of the property..." name="shortDescription" formControlName="shortDescription" required>
      </div>

      <div class="form-group form-control">
        <div class="form-check" *ngFor="let month of months; let i = index">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [checked]="month.checked" (change)="months[i].checked = !months[i].checked">
            {{ month.month }}
          </label>
        </div>
      </div> 
      <div class="form-group">
        <input type="file" id="file-upload" multiple (change)="onFileSelected($event)">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-lg btn-custom btn-block" (click)="createProperty()">Create</button>
      </div>
    </form>
					
	</div>
</div>