<div class="container formGroup">
	<div class="wrapper">
		<form action="" method="post" [formGroup]="newProperty" name="Login_Form" class="form-signin">       
		    <h3 class="form-signin-heading">Create Property</h3>
			  <hr class="colorgraph"><br>
			  
            <div class="form-group">
                <input type="text" class="form-control" name="Name" placeholder="Name" required="true" formControlName="name" autofocus="" #Name required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="Address" placeholder="Address" required="true" formControlName="address" #Address required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="Sleeps" placeholder="Sleeps" required="true" formControlName="sleeps" #Sleeps required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="RatePerNight" placeholder="Rate Per Night" formControlName="ratePerNight" required="true" #RatePerNight required>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-lg btn-custom btn-block" value="Create"> 
            </div>		  			
		</form>			
	</div>
</div>