<div class="container formGroup">
	<div class="wrapper">
		<form action="" method="post" name="Login_Form" class="form-signin">       
		    <h3 class="form-signin-heading">Create Property</h3>
			  <hr class="colorgraph"><br>
			  <input type="text" class="form-control" name="Name" placeholder="Name" required="" autofocus="" #Name required>
			  <input type="text" class="form-control" name="Address" placeholder="Address" required="" #Address required>
              <input type="text" class="form-control" name="Sleeps" placeholder="Sleeps" required="" #Sleeps required>
              <input type="text" class="form-control" name="RatePerNight" placeholder="Rate Per Night" required="" #RatePerNight required>
                  		  			  
			  <input type="button" class="btn btn-lg btn-custom btn-block" value="Log in"> 			
		</form>			
	</div>
</div>