<div class="container formGroup">
	<div class="wrapper">
		<form action="" method="post" name="Login_Form" class="form-signin">       
		    <h3 class="form-signin-heading">Edit Property</h3>
			  <hr class="colorgraph"><br>
			  
            <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Name" required="true" formControlName="name" autofocus="" #Name required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="address" placeholder="Address" required="true" formControlName="address" #Address required>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="sleeps" placeholder="Sleeps" required="true" formControlName="sleeps" #Sleeps required>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="ratePerNight" placeholder="Rate Per Night" formControlName="ratePerNight" required="true" #RatePerNight required>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-lg btn-custom btn-block" value="Submit" > 
            </div>	       
		</form>			
	</div>
</div>