<div class="sidebar-nav">
    <nav class="navbar navbar-custom fixed-top">
      <link rel="icon" type="image/x-icon" href="favicon.png"/>
        <div class="container">
            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Menus List -->
            <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-body">
                    <ul class="navbar-nav">
                        <li><a (click)="this.router.navigate(['home'])"><i class="bi bi-calendar3" ></i> <span class="item-text">Home</span></a></li>
                        <li><a (click)="this.router.navigate(['properties'])"><i class="bi bi-house-fill"></i> <span class="item-text">Properties</span></a></li>
                        <li><a href="#"><i class="bi bi-motherboard"></i> <span class="item-text">Bookings Dashboard</span></a></li>
                    </ul>
              </div>
            </div>
            <div class="btn-group">
                <a href="#" class="dropdown-toggle text-white text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="usericon"><i class="bi bi-person-circle"></i></span>
                    <span class="textnone">User</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><button *ngIf="!this.authService.isLoggedIn" class="dropdown-item" type="button" (click)="this.router.navigate(['login'])">Sign In</button></li>
                    <li><button *ngIf="this.authService.isLoggedIn" class="dropdown-item" type="button" (click)="this.authService.SignOut()">Sign Out</button></li>
                    <li><button *ngIf="!this.authService.isLoggedIn" class="dropdown-item" type="button" (click)="this.router.navigate(['register'])">Sign Up</button></li>
                    <li><button *ngIf="this.authService.isLoggedIn" class="dropdown-item" type="button" (click)="this.router.navigate(['profile'])">Profile</button></li>
                    <li><button *ngIf="this.authService.isLoggedIn" class="dropdown-item" type="button" (click)="this.router.navigate(['user-properties'])">My Properties</button></li>
                </ul>
            </div>
        </div>
    </nav>
  </div>