<div class="container formGroup">
	<div class="wrapper">
		<form action="" method="post" name="Login_Form" class="form-signin">       
		    <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
			  <hr class="colorgraph"><br>
			  
			  <input type="text" class="form-control" name="Email" placeholder="Email" required="" autofocus="" #userName required>
			  <input type="password" class="form-control" name="Password" placeholder="Password" required="" #userPassword required>     		  
			  
			  <input type="button" class="btn btn-lg btn-custom btn-block" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)"> 			
		</form>			
	</div>
</div>