<div class="container">
    <div class="wrapper">
      <form action="" method="post" name="Login_Form" class="form-signin">
        <h3 class="form-signin-heading">Thank You for Registering</h3>
        <hr class="colorgraph"><br>
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="col text-center">
          <button type="button" class="btn btn-lg btn-custom btn-block" (click)="authService.SendVerificationMail()">  Resend Verification Email </button>    
        </div>
        </div>
      </form>  
      </div>
  </div>
